{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Invoice</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">

</head>
<body>

<!-- Request Invoice start -->
<div class="invoice-2 invoice-content"> 
    <header>
        <div class="header-line"></div>
        <div class="gray_slide"></div>
        <div class="header_back"></div>
        <div class="header_slide">
            <img src="{% static 'logo.png' %}">
        </div>
        
        <table class="summary_table">
            <tr class="summary_tr">
            
                <td class="left">Invoice No.</td>
                <td class="right">{{invoice.invoice_counter}}</td>
            </tr>
            <tr class="summary_tr">
                <td class="left">Date</td>
                <td class="right">{{order_date|date:"M d, Y"}}</td>
            </tr>
        </table>
    </header>
    <div class="customer">
        <h4 class="inv-title-1">Invoice From</h4>
        <h2 class="name">{{business_profile.business_name}}</h2>
        <p class="invo-addr-1">
            <a href="mailto:{{business_profile.0.email}}">{{business_profile.email}}</a><br/>
            {{business_profile.address1}}<br/>
            {{business_profile.city}} {{business_profile.zipcode}}, {{business_profile.state}}<br/>
        </p>
    </div>
    <div class="company">
        <h4 class="inv-title-1">Invoice To</h4>
        <h2 class="name">{{invoice.vendor_name}}</h2>
    </div>
    <div class="invoice-center">
        {{content.0.product_name}}
        <div class="margin_10">
            <table class="table1">
                <tr class="th1">
                    <th class="text-start">Product Name</th>
                    <th class="text-start">Brand</th>
                    <th class="text-center">Qty.</th>
                </tr>
                {% for x in content|slice:"30" %}
                <tr class="tr1">
                    <td class="text-start">{{x.product_name}}</td>
                    <td class="text-center">{{x.brand}}</td>
                    <td class="text-end">{{x.qty}}</td>
                </tr>
                {% endfor %}
            </table>         
        </div>
    </div>

        {% if flage == 'busines_name' %}
            <p class="break"></p>
        {% endif %}
        <div class="bottom">
            <div class="invoice-number-inner">
                <div class="invoice-contact">Invoice was created on a computer and is valid without the signature and seal.</div>
                <div class="Authonticate">
                    <img src="{% static 'Authonticate.png' %}">
                </div>
                <h2 class="name"><i> Authorised Signatory</i></h2>
            </div>
        </div>
    <footer class="footer">
    </footer>
</div>
</body>
</html>
